/* imports */
@import url('https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@500&display=swap');

/* Main color palette */
:root {--rose-ebony: #594346ff;
  --bittersweet: #ff715bff;
  --navajo-white: #ffe0b5ff;
  --cadet-blue: #51a3a3ff;
  --spanish-bistre: #717744ff;
}

body {
  background-color: #C8D3D7ff;
  font-family: 'Expletus Sans', cursive;
  color: var(--platinum);
  width: 100%;
  margin: 0;
}

header {
  background-color: var(--rose-ebony);
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  left: 0;
  top: 0;
  height: 75px;
  width: 100%;
}

@media (max-width: 600px) {
}

a {
    text-decoration: none;
}

nav {
  padding-right: 25px;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 20vw;
}

nav > ul > li {
  padding: 5px 30px;
  margin: 0 10px;
  list-style: none;
  font-size: 1.45em;
  border-style: solid;
  border-width: 2px;
  border-radius: 2px;
  border-color: var(--navajo-white);
}

nav > ul > li:hover {
  background-color: var(--cadet-blue);
}

nav > ul > li:active {
  background-color: var(--rose-ebony);
  border-style: inset;
}

.nav-anchor {
  color: var(--navajo-white);
}

.container {
  width: 100%;
}

#about {
  background-color: var(--cadet-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  cursor: auto;
}

#intro-text {
  padding: 275px 0;
  font-size: 2.0em;
}

.name {
  animation-name: name-move;
  animation-duration: 2s;
  position: relative;
}

.descr {
  animation-name: descr-move;
  animation-duration: 2s;
  position: relative;
}

@keyframes name-move {
  0% {right: 600px; top: 0px;}
  100% {right: 0px; top: 0px;}
}

@keyframes descr-move {
  0% {left: 600px; bottom: 0px;}
  100% {left: 0px; bottom: 0px;}
}


#work {
  background-color: var(--spanish-bistre);
  width: 100%;
  height: 800px;
  margin: auto;
  align-items: center;
  text-align: center;
  padding: 10rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 6rem;
}

.project-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

#contact {
  background-color: var(--bittersweet);
  width: 100%;
  height: 800px;
  margin: auto;
}
